server:
  port: 8000

spring:
  data:
    mongodb:
      uri: mongodb+srv://ozguryavuz:ozgur2001@finalproject.32edx0o.mongodb.net/?retryWrites=true&w=majority&appName=FinalProject
      database: FinalProjectDatabase
      auto-index-creation: true


  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.ozgur.tradingviz: DEBUG


